<title>Node.js Getting Started on Heroku</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script>
    intuit.ipp.anywhere.setup({        
        grantUrl: 'https://janhavimeadows.herokuapp.com/requestToken',
        datasources: {
            quickbooks: true,  // set to false if NOT using Quickbooks API
            payments: false    // set to true if using Payments API
        }
    });
</script>